extends layout

block content
  .container.advisory(role='main')

    section.module-intro.grid-flex-container.mt2
      .grid-flex-cell
        h1.advisory-title= advisory.title

      .advisory-details
        p #{moment(advisory.publish_date).format('MMMM Do, YYYY')}
        if advisory.cves
          p.advisory-author
            if advisory.cves.length > 0
              each cve in advisory.cves
                span: <a href='http://cve.mitre.org/cgi-bin/cvename.cgi?name=#{cve}'>#{cve}</a>
            else
              span CVE-PENDING
            span
              = ' • '
              | Credit: #{advisory.author}

      .module-details
        .module-name
          a(href='https://npmjs.org/package/#{advisory.module_name}')
            | #{advisory.module_name}
        if advisory.vulnerable_versions === '<=99.999.99999'
          .module-version Vulnerable: All
        else
          .module-version Vulnerable: #{advisory.vulnerable_versions}

        if advisory.patched_versions === '<0.0.0'
          .module-version Patched: None
        else
          .module-version Patched: #{advisory.patched_versions}

    section
      .advisory-description
        h2 Overview
        != html.overview

        h2 Remediation
        != html.recommendation

        if html.references
          h2 References
          != html.references
